p{
    width : 100px;
    height: 100px;
    display: inline-block
}
#minus{
    background-color: red;
    vertical-align: middle;
}
#plus{
    background-color: green;
    vertical-align: middle;
}
#number{
    background-color: lightyellow;
    text-align: center;
    vertical-align: middle;
}